{
  "extends": ["eslint:recommended", "prettier", "prettier/react"],
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module",
  },
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off",
    "no-unused-labels": "off"
  },
  "plugins": [],
  "env": {
    "es6": true,
    "jest": true,
    "node": true,
    "browser": true
  }
}