.title_projects {
  text-align: center;
  margin: 1rem;
  padding: .25rem;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
}

.article_projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: .25rem;
}

.article_projects + .article_projects  {
  margin-left: 1rem;
}

.article_projects h4 {
  padding: .25rem;
  background-color: hsl(208, 98%, 33%);
  color: #fff;
  width: 100%;
  text-align: center;
}

.article_projects  p {
  margin: 1rem;
}

.article_projects a {
  align-self: center;
  margin-top: auto;
  text-decoration: none;
  color: #fff;
  background-color: hsl(208, 98%, 33%);
  padding: .5rem;
  border-radius: 100px;
  box-shadow: 0 2px 3px black,
              0 2px 3px black,
              0 2px 3px black;
}

.article_projects a:active {
  transform: translateY(3px);
  box-shadow: 0 2px 1px black;
}

@media screen and (max-width: 1300px) {

.article_projects {
  display: block;
  width: 100%;
  text-align: center;
}

.article_projects + .article_projects  {
    margin-top: 1rem;
  }

  .article_projects {
    width: 100%;
  }
}