* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-size: 100%;
  font-family: sans-serif, helvetica;
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
}

footer {
  background-color: #005aa7;
  color: #ffffff;
  text-align: center;
  margin-top: 1rem;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1500px;
}