.template_header {
  background: #005aa7;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

nav li {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
  height: 3rem;
}

.template_header a {
  text-decoration: none;
  color: #ffffff;
}

.icon_active {
  display: none;
}

.nav_list_active li a {
  height: 1.5rem;
}


@media  (max-width: 850px) {
  .icon_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  }

  .nav_list {
    display: none;
  }
  
  .nav_list_active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #005aa7;
    position: absolute;
    left: 0%;
    box-shadow: 0 0 1px #000000;
  }
  .nav_list_active li {
    padding: 0 1rem;
  }
  .nav_list_active li a:hover {
    border-bottom: 2px solid #ffffff;
  }
}