.template_header {
  background: #005aa7;
  position: relative;
  top: 0;
  left: 0;
}

nav {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav div {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
}

.template_header li {
  padding: 0.25rem;
  width: 100%;
  text-align: center;
}

.template_header a {
  text-decoration: none;
  color: #ffffff;
}

.nav_list_active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #005aa7;
  position: absolute;
  left: 0%;
  box-shadow: 0 0 1px #000000;
  opacity: 1;
  transition: opacity 300ms;
}

.nav_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: #005aa7;
  position: absolute;
  left: 0%;
  opacity: 0;
  box-shadow: 0 0 1px #000000;
  transition: opacity 300ms;
}